.error {
    color: red;
}

body {
    background-color: #7E8F7C;
}

.container no-gutters {
    background-color: #FDF3E7;
    padding: 0 !important;

}

.navbar {
    background-color: #C63D0F;
    color: #3B3738;
    text-align: left;
}

.navText {
    color: #3B3738;
}