<div class="container">
    <div class="navbar">
        <div col-md-11>
            <h1>Q&amp;A</h1>
        </div>

            <a class="navText" href="newQ"><u>Add a Question</u></a>

            <a *ngIf="user" class="navText">Hi, {{ user.name }}</a>

            <a class="navText logout" href="/"><u>Logout</u></a>

    </div>

    <div class="row">
        <div class="col-md-8">
            <br><form>
                <div class="form-group row">
                    <label for="search" class="col-sm-2 col-form-label">Search:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="search" [(ngModel)]="search">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Question</th>
            <th scope="col">Answers</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of questions | search: search">
            <td>{{ question.content }}</td>
            <td>{{ question._answers.length }}</td>
            <td><a href="question/{{question._id}}">Show</a> &nbsp; <a href="newA/{{question._id}}">Answer</a></td>
          </tr>
        </tbody>
      </table>
</div>